<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
</head>
<body>
    <form action="/risk/" method="get">
        age<input type="text" name="c1"><br/>
        sex<input type="text" name="c2"><br/>
        chest pain type<input type="text" name="c3"><br/>
        resting blood pressure<input type="text" name="c4"><br/>
        serum cholestoral in mg/dl<input type="text" name="c5"><br/>
        fasting blood sugar<input type="text" name="c6"><br/>
        resting electrocardiographic results<input type="text" name="c7"><br/>
        maximum heart rate achieved<input type="text" name="c8"><br/>
        exercise induced angina<input type="text" name="c9"><br/>
        oldpeak = ST depression induced by exercise relative to rest<input type="text" name="c10"><br/>
        the slope of the peak exercise ST segment<input type="text" name="c11"><br/>
        number of major vessels (0-3) colored by flourosopy<input type="text" name="c12"><br/>
        thal: 3 = normal; 6 = fixed defect; 7 = reversable defect<input type="text" name="c13"><br/>
        <input type="submit" value="submit">
    </form>
</body>
</html>